/* ----------- CONFIG GENERAL ------------- */

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #121b24;
}

.textWhite {
    color: white;
}

.textBlack {
    color: black;
}

h1 {
    font-size: 3rem;
    font-family: "Rubik Dirt", system-ui;
}

h2 {
    font-size: 2rem;
        font-family: "Rubik Dirt", system-ui;
}

p {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif
}