/* ------------------------------------------ CONTACTO --------------------------------- */

.container {
    text-align: center;
    min-width: 600px;
}

.tituloContacto {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.divContacto {
    background-color: #d0f9f9;
    padding: 1rem;
    margin-bottom: 2rem;
}