/* ---------------------- HERO ------------------------------ */

.sectionHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.divHome {
    padding: 3rem;
}