/* --------------------------- CONTENT SOBRE MI ------------------------------- */

.sobreMi {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloSobreMi {
    margin-bottom: 20px;
}